@model demoWebApp.Models.ViewBinding.DefinitionIndexView

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<div asp-validation-summary="All"></div>
<h4>DefinitionIndexView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DefinitionId" class="control-label"></label>
                <input asp-for="DefinitionId" class="form-control" readonly />
                <span asp-validation-for="DefinitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" disabled /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

