@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Html.Raw(ViewData["Message"])</h3>

<address>
    404 Wyman St, Ste 450<br />
    Waltham, MA 02451<br />
    <abbr title="Phone">P:</abbr>
    781.478.1450
</address>

<address>
    <strong>Support:</strong> <a href="mailto:bradf@magenic.com">Brad Friedlander</a><br />
</address>
